.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.main form {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 90vh;
  /* flex-grow: 0; */
}
.main form label {
  display: flex;
  flex-direction: column;
}
.main form input,
.main form button {
  height: 60px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  outline: none;
  transition: 0.2s;
}
.main form .wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
.wrapper label {
  width: 70%;
}
.wrapper label span {
  padding: 0 30px;
  margin-bottom: 0.6rem;
}
.wrapper input {
  border-radius: 30px 0 0 30px;
  padding: 0 30px;
  border: 2px solid white;
}
.wrapper input::placeholder {
  color: var(--secondary);
  opacity: 0.6;
  font-style: italic;
  /* font-size: 0.8rem; */
}
.wrapper input:focus {
  border-color: var(--secondary);
}
.wrapper button {
  border-radius: 30px;
  background-color: var(--secondary);
  color: white;
  font-size: 24px;
  padding: 1rem 2rem;
  margin-left: -30px;
  cursor: pointer;
  border: 2px solid var(--secondary);
}
.wrapper button:hover {
  border-color: white;
}
.error {
  text-align: center;
  font-size: 1.2rem;
  color: tomato;
}

.footer {
  width: 100%;

  text-align: center;
}
